body {
  background: rgba(255, 255, 255, 0.3);
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  color: #dd2c00;
  font-size: 42px;
  font-weight: 900;
  margin-left: 12px;
  text-transform: capitalize;
}

hr {
  border-color: #e5e5e5;
}

hr.bottom {
  margin-top: 0;
  margin-bottom: 100px;
}

.weather-app {
  background-color: rgba(299, 299, 299, 0.6);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 60px auto;
  margin-bottom: 0;
  max-width: 800px;
  padding: 12px;
}
.btn-secondary {
  background-color: #3f4441;
  border: 1px solid #3f4441;
}
.btn-secondary:hover {
  background-color: #1c1f1d;
  border: 1px solid #3f4441;
}

.todays-date {
  font-weight: 500;
  text-align: right;
  margin: 0;
}

.today-weather-basic {
  font-size: 28px;
  margin-top: 16px;
  text-transform: capitalize;
}

.today-weather-conditions {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
}

.five-day-forecast .days-of-week {
  color: #dd2c00;
  font-size: 18px;
  font-weight: 900;
  padding-top: 12px;
  text-align: center;
}

.five-day-forecast .weather-icon {
  color: #f0a500;
  font-size: 40px;
  text-align: center;
}

.five-day-forecast .temperature {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

#current-location-button {
  font-weight: 600;
  text-align: right;
}

#today-weather-icon {
  height: 120px;
  width: 120px;
  position: relative;
  left: 30px;
  padding: 0;
}

#open-source-code-tagline {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  margin: 60px auto;
  margin-top: 0;
  max-width: 800px;
}
